<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_AutoCancelOrder
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Bss_AutoCancelOrder::auto_cancel_order" title="Bss Auto Cancel Order" module="Bss_AutoCancelOrder" sortOrder="100" parent="Magento_Reports::report" resource="Bss_AutoCancelOrder::cancel_log"/>
    	<add id="Bss_AutoCancelOrder::cancel_log" title="Cancel Log" sortOrder="0" module="Magento_Reports" parent="Bss_AutoCancelOrder::auto_cancel_order" action="autocancelorder/cancellog/index" resource="Bss_AutoCancelOrder::cancel_log"/>
    </menu>
</config>
